{% extends "base.html" %}

{% load i18n account socialaccount %}

{% block title %}{% trans "Django Blog | Log In" %}{% endblock %}

{% block content %}
    <div class="has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="box has-box-shadow">
                <h1 class="title">{% trans "Sign In" %}</h1>
                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="notification is-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="login" class="input" type="text" placeholder="Username" autofocus required>
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input name="password" class="input" type="password" placeholder="Password" required>
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </p>
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="button is-primary" type="submit">{% trans "Sign In" %}</button>
                    <hr/>
                    <div class="has-margin-t-md">
                        {% get_providers as socialaccount_providers %}
                        {% for provider in socialaccount_providers %}
                            {% if provider.name|lower == 'github' %}
                                <a
                                    title="{{ provider.name }}"
                                    href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
                                    class="button is-small"
                                >
                                    <span class="icon is-medium"><i class="fab fa-github"></i></span>
                                    <span>{{ provider.name }}</span>
                                </a>
                            {% endif %}
                            {% if provider.name|lower == 'discord' %}
                                <a
                                    title="{{ provider.name }}"
                                    href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
                                    class="button is-small"
                                >
                                    <span class="icon is-medium"><i class="fab fa-discord"></i></span>
                                    <span>{{ provider.name }}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="has-text-grey">
                <div>{% trans "Don't have an account?" %} <a href="{{ signup_url }}">{% trans "Sign Up" %}</a></div>
                <div><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
            </div>
        </div>
    </div>
{% endblock %}
