{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Django Blog | Change Password" %}{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="notification is-danger">
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </div>
        {% else %}
            {% if form %}
                {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control has-icons-left">
                            <input name="password1" class="input" type="password"
                                   placeholder="New Password" autofocus required>
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            <div class="has-text-danger">{{ form.password1.errors }}</div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input name="password2" class="input" type="password"
                                   placeholder="Confirm New Password" required>
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            <div class="has-text-danger">{{ form.password2.errors }}</div>
                        </div>
                    </div>
                    <button class="button is-warning" type="submit">{% trans "Change Password" %}</button>
                </form>
            {% else %}
                <div class="notification is-primary">
                    {% trans 'Your password is now changed.' %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
