{% extends "base.html" %}

{% load i18n account %}

{% block title %}{% trans "Django Blog | Password Reset" %}{% endblock %}

{% block content %}
    <div class="column is-8 is-offset-2">
        <div class="box has-box-shadow">
            <div class="notification">
                <h1 class="title">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            </div>
            {% if form.email.errors %}
                <div class="notification is-danger">
                    {{ form.email.errors }}
                </div>
            {% endif %}
            <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="field">
                    <p class="control has-icons-left">
                        <input name="email" class="input" type="email"
                               placeholder="Email" autofocus required>
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                    </p>
                </div>
                <input class="button is-info" type="submit"
                       value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
