{% extends "base.html" %}
{% load i18n humanize %}

{% block content %}
    <div class="column is-four-fifths">
        <h2 class="title is-2">{{ post.title }}</h2>
        {% if user == post.author or user.is_superuser %}
            <div class="level has-margin-t-md">
                <div class="level-left">
                    <a href="{% url 'blog:post_update' post.pk %}" class="level-item button is-small is-dark">
                        <span class="icon is-small"><i class="fas fa-edit"></i></span>
                        <span>{% trans "Edit" %}</span>
                    </a>
                    <a href="{% url 'blog:post_delete' post.pk %}" class="level-item button is-small is-danger">
                        <span class="icon is-small"><i class="fas fa-times"></i></span>
                        <span>{% trans "Delete" %}</span>
                    </a>
                </div>
                <div class="level-right">
                    <figure class="">
                        <img class="is-128x128" src="{{ post.thumbnail.url }}" height="100" width="100">
                    </figure>
                </div>
            </div>
        {% endif %}
        <hr/>
        <div class="box">{{ post.body|linebreaksbr|truncatechars:1000 }}</div>
        <hr/>
        <form method="post" action="" class="has-margin-b-lg">
            {% csrf_token %}
            <article class="media has-margin-t-lg">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{ user.avatar.url }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea name="body" class="textarea" placeholder="{% trans 'Add a comment...' %}"
                                      required></textarea>
                        </p>
                    </div>
                    <div class="has-text-danger">{{ form.body.errors }}</div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <button class="button is-info" type="submit">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </form>
        {% for comment in post.comments.all %}
            {% if comment.parent is None %}
                <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{ comment.author.avatar.url }}">
                    </p>
                </figu re>
                <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.author.name }}</strong>
                        <small>
                            <a
                                class="has-text-grey"
                                href="{% url 'users:detail' comment.author.username %}">{{ comment.author.username }}
                            </a>
                        </small>
                        <small>{{ comment.created_timestamp|naturaltime }}</small>
                        <br>
                        <span>{{ comment.body|truncatechars:255 }}</span>
                    </p>
                </div>
                {% for child_comment in comment.children %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{ child_comment.author.avatar.url }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ child_comment.author.name }}</strong>
                                    <small>
                                        <a
                                            class="has-text-grey"
                                            href="{% url 'users:detail' child_comment.author.username %}">{{ child_comment.author.username }}
                                        </a>
                                    </small>
                                    <small>{{ child_comment.created_timestamp|naturaltime }}</small>
                                    <br>
                                    <span>{{ child_comment.body|truncatechars:255 }}</span>
                                </p>
                            </div>
                        </div>
                    </article>

                {% endfor %}
                <form method="post" action="" class="has-margin-b-lg is-hidden" id="replyToComment">
                    {% csrf_token %}
                    <article class="media has-margin-t-lg">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{ user.avatar.url }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                            <textarea name="body" class="textarea" placeholder="{% trans 'Add a comment...' %}"
                                      required></textarea>
                                </p>
                            </div>
                            <div class="has-text-danger">{{ form.body.errors }}</div>
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">

                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <button class="button is-info" type="submit">{% trans "Submit" %}</button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </form>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item">
                            <span id="replyButton" class="icon is-small"><i class="fas fa-reply"></i></span>
                        </a>
                    </div>
                </nav>
            {% endif %}




        </div>
        </article>
        {% empty %}
            <div class="has-text-weight-light has-text-centered">{% trans "No comments yet." %}</div>

        {% endfor %}
    </div>
{% endblock %}
