{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="column is-8 is-offset-2">
        <div class="box has-box-shadow">
            <h1 class="title">{% trans "New Post" %}</h1>
            <form method="post" action="" enctype="multipart/form-data" {% block form_attrs %}{% endblock %}>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="field">
                    <p class="control has-icons-left">
                        <input name="title" class="input" type="text" placeholder="Title" autofocus required>
                        <span class="icon is-small is-left"><i class="fas fa-heading"></i></span>
                    </p>
                    <div class="has-text-danger">{{ form.title.errors }}</div>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        {{ form.thumbnail }}
                    </p>
                    <div class="has-text-danger">{{ form.title.errors }}</div>
                </div>
                {% block additional_fields %}{% endblock %}
                <button class="button is-primary" type="submit">{% trans "Create" %}</button>
                <hr/>
            </form>
        </div>
    </div>
{% endblock %}
