{% extends "base.html" %}
{% load i18n humanize %}

{% block content %}
    <div class="column is-four-fifths">
        <h2 class="title is-2">{{ post.title }}</h2>
        {% if user == post.author or user.is_superuser %}
            <div class="level has-margin-t-md">
                <div class="level-left">
                    <a href="{% url 'blog:post_update' post.pk %}" class="level-item button is-small is-dark">
                        <span class="icon is-small"><i class="fas fa-edit"></i></span>
                        <span>{% trans "Edit" %}</span>
                    </a>
                    <a href="{% url 'blog:post_delete' post.pk %}" class="level-item button is-small is-danger">
                        <span class="icon is-small"><i class="fas fa-times"></i></span>
                        <span>{% trans "Delete" %}</span>
                    </a>
                </div>
                <div class="level-right">
                    <figure class="">
                        <img class="is-128x128" src="{{ post.thumbnail.url }}" height="100" width="100">
                    </figure>
                </div>
            </div>
        {% endif %}
        <hr/>
        <div class="box">{{ post.body|linebreaksbr|truncatechars:1000 }}</div>
        <hr/>

        {% for comment in post.comments.all %}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{ comment.author.avatar.url }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ comment.author.name }}</strong>
                            <small>
                                <a
                                    class="has-text-grey"
                                    href="{% url 'users:detail' comment.author.username %}">{{ comment.author.username }}
                                </a>
                            </small>
                            <small>{{ comment.created_timestamp|naturaltime }}</small>
                            <br>
                            <span>{{ comment.body|truncatechars:255 }}</span>
                        </p>
                    </div>
                    {% for reply in comment.replies.all %}
                        <li>
                            {{ reply.text }}
                        </li>
                    {% endfor %}
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span id="replyButton" class="icon is-small"><i class="fas fa-reply"></i></span>
                            </a>
                        </div>

                    </nav>
                </div>
            </article>
        {% empty %}
            <div class="has-text-weight-light has-text-centered">{% trans "No comments yet." %}</div>
        {% endfor %}
    </div>
{% endblock %}

<form action="" method="post" class="is-hidden" id="replyComment">
    {% csrf_token %}
    <input type="text" name="parent_id" value="{{ comment.id }}">
    <input type="submit" value="Reply" class="button has-bullet-separator">
</form>
