{% extends "base.html" %}
{% load i18n humanize %}

{% block additional_fields %}
    {% for child_comment in comment.children %}
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="{{ child_comment.author.avatar.url }}">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ child_comment.author.name }}</strong>
                        <small>
                            <a
                                class="has-text-grey"
                                href="{% url 'users:detail' child_comment.author.username %}">{{ child_comment.author.username }}
                            </a>
                        </small>
                        <small>{{ child_comment.created_timestamp|naturaltime }}</small>
                        <br>
                        <span>{{ child_comment.body|truncatechars:255 }}</span>
                    </p>
                </div>
            </div>
        </article>

    {% endfor %}
{% endblock %}
