{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% trans "Django Blog" %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "css/bulma.css" %}">
    <link rel="stylesheet" href="{% static "css/spacing.css" %}">
    <link rel="stylesheet" href="{% static "css/project.css" %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-dark">
    <div class="hero-head">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'blog:home' %}"><i class="fas fa-code"></i> </a> <a
                role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="mainNavbar" id="navBurger"> <span aria-hidden="true"></span> <span
                aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
            </div>
            <div id="mainNavbar" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item {% if active == 'blog-home' %}is-active{% endif %}"
                       href="{% url 'blog:home' %}">{% trans "Blog" %}
                    </a> <a class="navbar-item {% if active == 'user-list' %}is-active{% endif %}"
                            href="{% url 'users:list' %}">{% trans "Users" %}
                </a> <a class="navbar-item {% if active == 'blog-info' %}is-active{% endif %}"
                        href="{% url 'blog:info' %}">{% trans "Info" %}
                </a>
                    {% if user.is_staff %}
                        <a class="navbar-item has-text-warning" href="{% url 'admin:index' %}">{% trans "Admin" %}
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <span class="navbar-item ">
                            <a class="has-text-success {% if active == 'user-detail' %}is-active{% endif %}"
                               href="{% url 'users:detail' user.username %}">{{ user.username }}
                            </a>
                        </span>
                        <span class="navbar-item">
                            <a href="{% url 'account_logout' %}" class="button is-primary is-outlined">
                                <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
                                <span>{% trans "Logout" %}</span>
                            </a>
                        </span>
                    {% else %}
                        <span class="navbar-item">
                            <a href="{% url 'account_login' %}" class="button is-primary is-outlined">
                                <span class="icon"><i class="fa fa-sign-in-alt"></i></span>
                                <span>{% trans "Login" %}</span>
                            </a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>
{% block extra_content %}{% endblock %}
<footer class="footer">
    <div class="is-flex aligned is-justified-center">

        <span>  Made with <span class="icon">
            <a href="https://www.python.org/" target="_blank">
                <i class="fab fa-python"></i>
            </a>
        </span>
            With a special help from <a href="https://www.djangoproject.com/" target="_blank">django</a>.</span>


    </div>
</footer>
<script src="{% static 'js/main.js' %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
