{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Django Blog | Users" %}{% endblock %}

{% block content %}
    <div class="column is-8 is-offset-2">
        <div class="card has-box-shadow">
            <h1 class="title">You successfully unfollowed: <span class="has-text-success">{{ user }}</span></h1>
            <div class="level-right">
                <a class="button is-dark is-large" href="{% url 'users:list' %}">
                    Go Back
                </a>
            </div>
        </div>
    </div>
{% endblock content %}

